.App {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-flow: column;
}

.MinimeConnection {
  background-color: black;
  flex: auto;
  width: 100%;
  height: 100%;
}

.MinimeConnection>video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.WheelJoystick {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.CameraJoystick {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.MinimeAlert {
  position: absolute;
  top: 10%;
  right: 5%;
  transform: translateY(-10%) translateX(5%);
  width: auto;
}
